<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<div class="wrapper">
    <section id="home" class="sec-intro">
      <header role="banner">
          <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <input id="nav-check" type="checkbox" />
        <label class="fa menu" for="nav-check"></label>
        <nav role="navigation" class="menu">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/video">Video</a></li>
          </ul>
        </nav>
      </header>
      <h1>News</h1>
    </section>
  </div>
    <section class="sec-news">
    <div id="news" class="row">
      <h1>Latest News</h1>
    </div>
    <div class="row">
      <div class="col-2">
        <article class="post">
          <span>21 <br />JAN</span>
          <img src="http://i.cbc.ca/1.2609253.1404403066!/httpImage/image.jpg_gen/derivatives/16x9_620/image.jpg" alt="CrossFit Games of Asia" />
          <h1>CrossFit Games of Asia</h1>
          <p></p>
        </article>
      </div>
      <div class="col-2">
        <article class="post">
          <span>05 <br />FEB</span>
          <img src="http://i.cbc.ca/1.2609253.1404403066!/httpImage/image.jpg_gen/derivatives/16x9_620/image.jpg" alt="CrossFit Games Nor.Cal" />
          <h1>CrossFit Games Nor.Cal</h1>
          <p></p>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <article class="post">
          <span>18 <br />FEB</span>
          <img src="http://i.cbc.ca/1.2609253.1404403066!/httpImage/image.jpg_gen/derivatives/16x9_620/image.jpg" alt="CrossFit Aberdeen" />
          <h1>CrossFit Aberdeen</h1>
          <p></p>
        </article>
      </div>
      <div class="col-2">
        <article class="post">
          <span>11 <br />MAR</span>
          <img src="http://i.cbc.ca/1.2609253.1404403066!/httpImage/image.jpg_gen/derivatives/16x9_620/image.jpg" alt="CrossFit Throwdown" />
          <h1>CrossFit Throwdown</h1>
          <p></p>
        </article>
      </div>
    </div>
  </section>
<footer>
    <div class="row">
      <p>&copy; 2022 Farkas András Design</p>
    </div>
  </footer>
</body>
</html>