<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
</head>
<body class="black">
  <div class="wrapper">
    <section id="home" class="sec-intro">
      <header role="banner">
          <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <input id="nav-check" type="checkbox" />
        <label class="fa menu" for="nav-check"></label>
        <nav role="navigation" class="menu">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/video">Video</a></li>
          </ul>
        </nav>
      </header>
      <h1>Video</h1>
    </section>
  </div>
<iframe class="middle" width="750" height="600" src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
    <footer>
      <div class="row">
        <p>&copy; 2022 Farkas András Design</p>
      </div>
    </footer>
  </div>
</body>
</html>